.wordle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wordle-container:focus {
  outline: none;
}

.block {
  width: 3em;
  height: 3em;
  border: solid black;
  margin: 0.2em;
}

.block-row {
  display: flex;
}